/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus{
 outline:?????;
} */

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/


html, body {
    width: 100%;
    height: 100%;
    font-family: "Voltaire", sans-serif;
    font-size: 18px;
    color: black;
}
header {
    background: rgb(230,230,230);
    width: 100%;
    border-bottom: double 3px black;
    font-family: "Bree serif", serif;
}
header h1 {
    font-size: 68px;
    padding: 30px;
    text-align: center;
    width: 100%;
    display: block;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
#gamefield {
    width: 100%;
    height: 500px;
    position: absolute;
    margin: 50px 0 0 0;
}
#outerBounds {
    width: 560px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -280px;
}
.square {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0,0,0,0);
    background: rgb(193, 229, 255);
    bottom: 250px;
    right: 250px;
}